.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.grid {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
}

.cell{
    border: 0.5px solid #0000002e;
}

.playerCard{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    border: 1px solid #00000059;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
}

.playerLogo{
    font-size: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
}