.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.form{
    display: flex;
    gap: 5px;
    margin-top: 10px;
}

.roomsContainer{
    width: 100%;
    height: available;
    overflow-x: hidden;
    overflow-y: auto;
}

.roomCard{
    width: 100%;
    margin-top: 10px;
}

.cardContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}