.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.form{
    padding: 5px 25px 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.roomsContainer{
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    height: calc(100vh - 60px);
    position: relative;
}

.addFab{
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 100;
}

.roomCard{
    width: 100%;
    margin-top: 10px;
}

.cardContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: unset;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}