.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.form{
    display: flex;
    gap: 5px;
    margin-top: 10px;
}

.roomsContainer{
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}

.roomCard{
    width: 100%;
    margin-top: 10px;
}

.cardContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: unset;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}